<div class="row">
<div *ngIf="identity" class="navigation col-lg-2">
  <h4 class="logo">
    <a [routerLink]="['/']">
    <i class="fa fa-play logoPlay" aria-hidden="true"></i>
  {{title}}
</a>
</h4>

<nav id="user_logged">
  <div class="user-image">
    <img id= "image-logged" src="{{url + 'get-image-user/' + identity.image}}" alt="Tu foto de perfil">
  </div>
  <span id="identity_name">Hola {{ identity.name }}!</span>
</nav>
<nav id="navigation">
  <a [routerLink]="['/perfil']">
    <i class="fa fa-cog" aria-hidden="true"></i> Perfil<br>
  </a>

  <a href="#">
    <i class="fa fa-search" aria-hidden="true"></i> Buscar<br>
  </a>

  <a href="#">
    <i class="fa fa-star" aria-hidden="true"></i> Artistas<br>
  </a>

  <a href="#">
    <i class="fa fa-book" aria-hidden="true"></i> Álbumes<br>
  </a>
  <span class="btn btn-warning logout" (click)="logOut()">CERRAR SESIÓN</span>
</nav>

</div>
<div *ngIf="identity" class="central col-lg-10">
  <router-outlet></router-outlet>
</div>
</div>

<div *ngIf="!identity" class="col-lg-11  jumbotron">
  <div class="row">
    <div class="col-lg-6">
      <h2>Identifícate</h2>
      <div *ngIf="errorMessage">
        <div class="alert alert-info">
  <strong>Error</strong> {{errorMessage}}
</div>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-8" action="index.html" method="post">
        <p>
          <label>Correo electrónico</label>
          <input #email="ngModel" name="email" [(ngModel)]="user.email" type="email" class="form-control" required>
          <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
        </p>
        <p>
          <label>Contraseña</label>
          <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" required>
        </p>
        <input type="submit" value="Login" class="btn btn-primary">
      </form>
    </div>
    <div class="col-lg-6">
      <h2>Regístrate</h2>
      <div *ngIf="alertRegister">
        <div class="alert alert-info">
          <strong>Error</strong> {{alertRegister}}
        </div>
      </div>
      <form #registerForm="ngForm" (ngSubmit) = "onSubmitRegister()" class="col-md-10" action="index.html" method="post">
        <p>
          <label>Nombre</label>
          <input #name="ngModel" name="name" [(ngModel)] = "user_register.name" type="text" class="form-control" required>
          <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>

          <label>Apellidos</label>
          <input #surname="ngModel" name="surname" [(ngModel)] = "user_register.surname" type="text" class="form-control" required>
          <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorios</span>

          <label>Correo electrónico</label>
          <input #email="ngModel" name="email" [(ngModel)]="user_register.email" type="email" class="form-control" required>
          <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>

          <label>Contraseña</label>
          <input #password="ngModel" name="password" [(ngModel)]="user_register.password" type="password" class="form-control" required>
          <span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
        </p>
        <input type="submit" value="Registro" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
